<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      {% load static %}
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="{% static 'BullTerrierWeb/css/styleRegistro.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login" id="envio">
               Enviado/No enviado
            </div>
         </div>
      </div>
   </body>
</html>