<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="{% static 'BullTerrierWeb/css/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Bull Terrier - Inicio</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <header class="header" id="barramenu">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'BullTerrierWeb/img/Logo.png' %}" alt="Logo.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item text-black" href="{% url 'productosgato' %}">Gatos</a></li>
                      <li><a class="dropdown-item" href="{% url 'productosperro' %}">Perros</a></li>
                      <li><a class="dropdown-item" href="{% url 'productoshamster' %}">Ejemplo</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pedidos' %}">Pedidos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Iniciar Sesi&oacute;n</a>
                  </li>
                </ul>
                <form class="d-flex container-sm">
                  <input class="form-control me-2" type="search" placeholder="¿Buscas algo?" aria-label="Search">
                  <button class="btn btn-outline-primary" type="submit" style="margin: left 40px;">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
        
    </header>


    <main class="main">
        <div class="container-sm">
            <br>
            <br>
            <div class="container-sm" id="carrusel">
                <div id="carouselExample" class="carousel slide container-sm" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <a href="{% url 'productosperro' %}"><img src="{%static '\BullTerrierWeb\img\carousel\perros.png' %}" class="d-block w-400" alt="carrito_compras.png" height="400"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <a href="{% url 'productosgato' %}"><img src="{%static '\BullTerrierWeb\img\carousel\gatos.png' %}" class="d-block w-400" alt="carrito_compras.png" height="400"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                
            </div>
            <div class="container overflow-hidden px-4" id="Informacion">
                <div class="row gx-5">
                  <div class="col-12">
                    <div class="p-3 border text-light" id="caja-informacion"><h1 style="text-align: center;">SUSCRIBETE Y AYUDA A LA ORGANIZACI&Oacute;N</h1> <p>Suscribete a nuestro servicio de recompensas pagadas y ¡AYUDA A NUESTRA ORGANIZACION! Se otorgará un 5% de descuento en el total de la venta a todos los clientes que estén suscritos.</p> 
                      <div class="container-sm" id="img-susc">
                        <a href="{% url 'suscribirse' %}"><img src="{% static 'BullTerrierWeb/img/Suscribirse_aqui-removebg.png' %}" alt="PAGOS.png"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>   
    </main>


    <footer>
      <div class="content">
        <div class="left box" id="leftFooter">
          <img src="{% static 'BullTerrierWeb/img/Logo.png' %}" alt="LOGO.png">
          <div class="upper">
            <div class="topic">Nosotros</div>
            <p>Bullterrier es una tienda dedicada la venta de todo tipo de
            accesorio, alimento, articulos de belleza y salud de primera calidad para tus mascotas</p>
          </div>
          <div class="lower">
            <div class="topic">Contactanos</div>
            <div class="phone">
              <a href="#"><i class="fas fa-phone-volume"></i>+56 9 7089 6764</a>
            </div>
            <div class="email">
              <a href="#"><i class="fas fa-envelope"></i>contacto@bullterrier.cl</a>
            </div>
          </div>
        </div>
          <div class="middle box" id="middleFooter">
            <img src="{% static 'BullTerrierWeb/img/Medios.png' %}" alt="PAGOS.png">
            <div class="topic">Ubicanos</div>
            <br>
            <hr><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.2248077256985!2d-71.53403068385977!3d-33.03278520672673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de7ad36354bf%3A0x1d5053cfaba1146c!2sC.%20Alvarez%202228%2C%20Valpara%C3%ADso%2C%20Vi%C3%B1a%20del%20Mar%202570087%2C%20Valpara%C3%ADso!5e0!3m2!1ses!2scl!4v1652070981004!5m2!1ses!2scl" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        <div class="right box">
            <br>
            <div class="topic">Dejanos tu opinion, reclamo o sugerencia</div>
            <form action="comentario.html">
              <!-- <input type="text" placeholder="Ingrese su Comentario"> -->
              <div class="enviar">
              <input type="submit" name="" value="Escribe tu comentario">
              </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </form>
        </div>
      </div>
      <div class="bottom">
        <p>Copyright © 2022 Matias Leal & Lucas Mondaca All rights reserved</p>
      </div>
    </footer>
</body>
</html>