<!DOCTYPE html>
<html lang="en">
    {% extends 'BullTerrierWeb/base.html' %}
    {% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'BullTerrierWeb/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'BullTerrierWeb/js/producto.js' %}"></script>
    <title>{{prod.nombrePro}} | Bull Terrier</title>
</head>
<body>
    <main class="main">
        <div class="container-sm">
            <br>
            <br>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="producto-compra">
                        <div class="col">
                            <div class="card shadow-sm">
                                <a target="_blank" href="{{prod.imgPro.url}}">
                                    <img src='{{prod.imgPro.url}}' alt="{{prod.imgPro.name}}" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img">
                                </a>
                                <div class="card-body">
                                    <h6 class="card-text">{{prod.nombrePro}}</h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-12">
                            <div class="card shadow-sm">
                                <h2 class="card-text" style="margin: 20px;">{{prod.nombrePro}}</h2>
                                <h6 class="" style="margin: 0px 0px 0px 20px;">{{prod.descripPro}}</h6>
                                <h3 style="margin: 20px;">${{prod.precioPro}} CLP</h3>
                                <form enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    {% comment %} <button class="btn-outline-primary" style="margin: 20px;" disabled>COMPRAR</button> {% endcomment %}
                                    <input type="number" name="cantidad" id="id_cantidad" style="display: none;" value="1">
                                    <input type="text" name="idPro" id="id_idPro" style="display: none;" value="{{prod.idPro}}">
                                    <input type="number" name="usuario" id="id_usuario" style="display: none;" value="{{user.id}}">
                                    <button type="submit" class="btn btn-outline-secondary" style="margin: 20px;">AÑADIR AL CARRITO</button>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="loading-screen">
                        <h1 id="loading">CARGANDO...</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>