@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-size: 300px;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-image: url(../img/Logo.png);
  align-content: space-around;
}

.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

button {
  font-family: 'Poppins', sans-serif;
  width: 100px;
  height: 50px;
}