<!DOCTYPE html>
<html lang="en">
    {% extends 'BullTerrierWeb/base.html' %}
    {% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="{% static 'BullTerrierWeb/css/style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'BullTerrierWeb/js/script.js' %}"></script>
    <title>Comentarios</title>
</head>
<body>
    <main class="main">
        <div class="container-sm">
            <br>
            <div class="container overflow-hidden px-4" id="Informacion">
                <div class="row gx-5">
                    <div class="col-12">
                        <div class="p-3 border bg-light" style="text-align: center;">
                            <h1>Listado completo de Comentarios</h1>
                            <p>Aqui podras ver los comentarios escritos por la comunidad (PD: Los comentarios anteriores a la primera ID fueron eliminados)</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-sm">
                <div class="mb-3">
                    <div>
                        {% include 'BullterrierWeb/paginator.html' %}
                    </div>
                    <div class="row">
                        <h2>Listado de comentarios:</h2>
                        <table border=2 class="table table-hover table-striped">
                            <tr>
                                <td><b>Nombre<b></td>
                                <td></td>
                                <td><b>Calificaci&oacute;n<b></td>
                                <td><b>Comentario<b></td>
                            </tr>
                            {% for com in entity %}
                                <tr>
                                    <td>{{com.nombre}}</td>
                                    <td>******</td>
                                    <td>{% if com.calificacion == 1 %}
                                        Excelente ({{com.calificacion}})
                                        {% elif com.calificacion == 2 %}
                                        Buena ({{com.calificacion}})
                                        {% elif com.calificacion == 3 %}
                                        Regular ({{com.calificacion}})
                                        {% elif com.calificacion == 4 %}
                                        Mala ({{com.calificacion}})
                                        {% elif com.calificacion == 5 %}
                                        Pesima ({{com.calificacion}})
                                        {% endif %}
                                    </td>
                                    <td>{{com.comentario}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>