<!DOCTYPE html>
<html lang="en">
    {% extends 'BullTerrierWeb/base.html' %}
    {% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="{% static 'BullTerrierWeb/css/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Bull Terrier - Inicio</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <main class="main">
        <div class="container-sm">
            <br>
            <br>
            <div class="container-sm" id="carrusel">
                <div id="carouselExample" class="carousel slide container-sm" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <a href="{% url 'productosperro' %}"><img src="{%static '\BullTerrierWeb\img\carousel\perros.png' %}" class="d-block w-400" alt="carrito_compras.png" height="400"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <a href="{% url 'productosgato' %}"><img src="{%static '\BullTerrierWeb\img\carousel\gatos.png' %}" class="d-block w-400" alt="carrito_compras.png" height="400"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                
            </div>
            {% if messages %}
                {% for m in messages %}
                    <script>
                        Swal.fire({
                            "title": "Felicitaciones",
                            "text": "{{m}}",
                            "icon": "success"
                        })
                    </script>
                {% endfor %}
            {% endif %}
            <div class="container overflow-hidden px-4" id="Informacion">
                <div class="row gx-5">
                  <div class="col-12">
                    <div class="p-3 border text-light" id="caja-informacion"><h1 style="text-align: center;">SUSCRIBETE Y AYUDA A LA ORGANIZACI&Oacute;N</h1> <p>Suscribete a nuestro servicio de recompensas pagadas y ¡AYUDA A NUESTRA ORGANIZACION! Se otorgará un 5% de descuento en el total de la venta a todos los clientes que estén suscritos.</p> 
                      <div class="container-sm" id="img-susc">
                        <a href="{% url 'suscribirse' %}"><img src="{% static 'BullTerrierWeb/img/Suscribirse_aqui-removebg.png' %}" alt="PAGOS.png"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>   
    </main>
    {% endblock %}
</body>
</html>