<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      {% load static %}
      <link rel="icon" type="image/ico" href="{% static 'BullTerrierWeb/img/favicon.ico' %}"/>
      <meta charset="utf-8">
      <title>Register | Bull Terrier</title>
      <link rel="stylesheet" href="{% static 'BullTerrierWeb/css/styleRegistro.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Ingresar
            </div>
            <div class="title signup">
               Registrarse
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login">
               <input type="radio" name="slide" id="signup" checked>
               <label for="login" class="slide login">Ingresar</label>
               <label for="signup" class="slide signup">Registrarse</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="" class="login" method="post">
                  <div class="field">
                     <input type="text" placeholder="Nombre de Usuario" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Contraseña" name="password" autocomplete="current-password" required id="id_password">
                  </div>
                  <div class="pass-link">
                     <a href="#">¿Olvido su contraseña?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="ingresar">
                  </div>
                  <div class="signup-link">
                    ¿Cliente nuevo? <a href="">Registrarse</a>
                  </div>
               </form>
               <form action="" class="signup"method="post">
                  {% csrf_token %}
                  <div class="field">
                     <input type="text" placeholder="Nombre de Usuario" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Contraseña" name="password1" autocomplete="new-password" required id="id_password1">
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirme Contraseña" name="password2" autocomplete="new-password" required id="id_password2">
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Registrarse">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         loginForm.style.marginLeft = "-50%";
         loginText.style.marginLeft = "-50%";
         signupBtn.onclick = (()=>{
           // loginForm.style.marginLeft = "-50%";
           // loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           // loginForm.style.marginLeft = "0%";
           // loginText.style.marginLeft = "0%";
           window.location.href = '{% url 'login' %}'
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>
   </body>
</html>